<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
    <ul>
        <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
        <li><a href="{{ url_for('agregar_producto') }}">Agregar Producto</a></li>
        <li><a href="{{ url_for('agregar_categoria') }}">Agregar Categoría</a></li>
        <li><a href="{{ url_for('consultar') }}">Consultar Inventario</a></li>
        <li><a href="{{ url_for('stock') }}">Stock</a></li>
    </ul>
</nav>

    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
