<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{{ url_for('inicio') }}">Inicio</a>
            <a href="{{ url_for('index') }}">Inventario</a>
            <a href="{{ url_for('agregar_producto') }}">Agregar Producto</a>
            <a href="{{ url_for('agregar_categoria') }}">Agregar Categoría</a>
            <a href="{{ url_for('consultar') }}">Consultar Inventario</a>
            <a href="{{ url_for('actualizar_stock') }}">Actualizar/Eliminar Stock</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
